body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
    background-color: black;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: whitesmoke;
}
.janelamain {
    width: 100%;
    height: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
.opções{
    width: 10%;
    height: 100%;
    background-color: gray;
    display: flexbox;
    align-items: baseline;
    padding-left: 2px;
    padding-right: 5px;
}
.opções button{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 0;
    position: relative;
}
.opções button:hover{
    transition: 0.5s;
    background-color: gainsboro;
}
.vendas{    top: 20%; } .estoque{ top: 20.3%; } .registro{ top: 20.6% } .clientes{ top: 21% }
