body{
    background-color:white;
    height:100vh;
    width:100vw;
    margin:0;
    display:flex;
}
.backgroundRegisterLogin{
    background-color:#1E3A5F;
    height:100vh;
    width:35vw;
    margin:0;
    position:fixed;
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.glassLogin{
    background: rgba(59, 130, 196, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 20vw;
}
label{
    height:35vh;
    width:14vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
input{
    width:80%;
    text-align: center !important;
    padding: 0;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    font: normal 16px "Roboto", sans-serif;
    transition: 0.3s;
}
input:focus{
    border-bottom: 3px solid darkgray;
    border-radius: 3px;
    outline: none;
    text-align: center !important;
}
input::-webkit-input-placeholder{
    color: red;
    font-style: italic;
    text-align: center !important;
}
input:focus::placeholder{
    color: transparent;
    text-align: center !important;
}
button{
    background-color:#E76F51;
    color:white;
    transition: 0.3s;
    margin: 10px;
    width:12vw;
    height: 4vh;
    border:none;
    border-radius: 10px;
}
#loginbutton:hover{
    background-color: #aa533f;
    color:white;
    font: bold 18px/1.5 Georgia, serif;
    cursor: pointer;
}
#registerbutton:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}
p{
    color:#FFFFFF;
    font-family: serif;
    font-size: 35px;
    margin-bottom: 4%;
}
#backimg{
    position:absolute;
    width:65vw;
    height:100vh;
    background-image: url('../../image/background_login.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    filter: blur(6px);
}
img{
    position: relative;
    width: 20vw;
    height: 20vh;
    filter: invert(100%);
}
h1{
    color:white;
    font: normal 40px/1.5 Georgia, serif;
    text-align: center;
    margin: 0;
}
#Buttonview{
    position: absolute;
    right: 40px;
    top: 67%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 3vh;
    width: 1.5vw;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2vh;
}
/* Remove o "olhinho" padrão do Chrome/Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear{
    display: none !important;
}